[Unit]
Description=Create default certificates for the go-fdo-servers

ConditionPathExists=|!/etc/pki/go-fdo-server/manufacturer.key
ConditionPathExists=|!/etc/pki/go-fdo-server/manufacturer.crt
ConditionPathExists=|!/etc/pki/go-fdo-server/manufacturer.pub
ConditionPathExists=|!/etc/pki/go-fdo-server/device-ca.key
ConditionPathExists=|!/etc/pki/go-fdo-server/device-ca.crt
ConditionPathExists=|!/etc/pki/go-fdo-server/device-ca.pub
ConditionPathExists=|!/etc/pki/go-fdo-server/owner.key
ConditionPathExists=|!/etc/pki/go-fdo-server/owner.crt
ConditionPathExists=|!/etc/pki/go-fdo-server/owner.pub

[Service]
Type=oneshot
RemainAfterExit=no
Group=go-fdo-server

ExecStart=/usr/libexec/go-fdo-server/generate-manufacturer-certs.sh
ExecStart=/usr/libexec/go-fdo-server/generate-owner-certs.sh
ExecStart=/usr/libexec/go-fdo-server/generate-device-ca-certs.sh
