[Unit]
Description=Go FDO manufacturer server
After=network.target

[Service]
Type=simple
PrivateDevices=yes
CacheDirectory=go-fdo-server-manufacturer
StateDirectory=go-fdo-server-manufacturer
ExecStartPre=/usr/share/go-fdo-server/generate-manufacturer-certs.sh
ExecStart=/bin/sh -c 'exec /usr/bin/go-fdo-server manufacturing ${CMDLINE_OPTS}'
User=go-fdo-server-manufacturer

EnvironmentFile=-/etc/sysconfig/go-fdo-server-manufacturer

[Install]
WantedBy=multi-user.target
