# Modifying this file in-place is not recommended because changes will
# be overwritten during package upgrades. Customization should be done
# by using a systemd "drop-in" instead.
#
# For example to add an additional command line option to enable debug
# logging create an override "drop-in" unit (as is done by systemctl
# edit) and enter the following:
#
#	[Service]
#       ExecStart=
#       ExecStart=/bin/sh -c 'exec /usr/bin/go-fdo-server owner --log-level debug'

[Unit]
Description=Go FDO owner server
Requires=go-fdo-server-init.service
After=go-fdo-server-init.service
After=network.target

[Service]
Type=simple
PrivateDevices=yes
CacheDirectory=go-fdo-server-owner
StateDirectory=go-fdo-server-owner
ExecStart=/bin/sh -c 'exec /usr/bin/go-fdo-server owner'
User=go-fdo-server-owner

[Install]
WantedBy=multi-user.target
