[Unit]
Description=Create default certificates for the go-fdo-servers

ConditionPathExists=|!/etc/pki/go-fdo-server/manufacturer-example.key
ConditionPathExists=|!/etc/pki/go-fdo-server/manufacturer-example.crt
ConditionPathExists=|!/etc/pki/go-fdo-server/device-ca-example.key
ConditionPathExists=|!/etc/pki/go-fdo-server/device-ca-example.crt
ConditionPathExists=|!/etc/pki/go-fdo-server/owner-example.key
ConditionPathExists=|!/etc/pki/go-fdo-server/owner-example.crt

[Service]
Type=oneshot
RemainAfterExit=no
Group=go-fdo-server
ExecStart=/usr/libexec/go-fdo-server/generate-go-fdo-server-certs.sh
